[Desktop Entry]
Version=1.0
Name=Bitwin24 Core
Comment=Bitwin24 P2P Cryptocurrency
Comment[fr]=Bitwin24, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitwin24, eşten eşe kriptografik sanal para birimi
Exec=bitwin24-qt %u
Terminal=false
Type=Application
Icon=bitwin24128
MimeType=x-scheme-handler/bitwin24;
Categories=Office;Finance;
StartupWMClass=Bitwin24-qt
