policy_module(bitwin24, 1.100.1)

########################################
#
# Declarations
#

type bitwin24_t;
type bitwin24_exec_t;
init_daemon_domain(bitwin24_t, bitwin24_exec_t)

permissive bitwin24_t;

type bitwin24_initrc_exec_t;
init_script_file(bitwin24_initrc_exec_t)

type bitwin24_conf_t;
files_type(bitwin24_conf_t)

type bitwin24_var_lib_t;
files_type(bitwin24_var_lib_t)

type bitwin24_var_run_t;
files_type(bitwin24_var_run_t)

type bitwin24_port_t;
corenet_port(bitwin24_port_t)

########################################
#
# bitwin24 local policy
#
allow bitwin24_t self:process { fork };

allow bitwin24_t self:fifo_file rw_fifo_file_perms;
allow bitwin24_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bitwin24_t, bitwin24_conf_t, bitwin24_conf_t)
manage_files_pattern(bitwin24_t, bitwin24_conf_t, bitwin24_conf_t)

manage_dirs_pattern(bitwin24_t, bitwin24_var_lib_t, bitwin24_var_lib_t)
manage_files_pattern(bitwin24_t, bitwin24_var_lib_t, bitwin24_var_lib_t)
files_var_lib_filetrans(bitwin24_t, bitwin24_var_lib_t, { dir file })

manage_dirs_pattern(bitwin24_t, bitwin24_var_run_t, bitwin24_var_run_t)
manage_files_pattern(bitwin24_t, bitwin24_var_run_t, bitwin24_var_run_t)

sysnet_dns_name_resolve(bitwin24_t)
corenet_all_recvfrom_unlabeled(bitwin24_t)

allow bitwin24_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bitwin24_t)
corenet_tcp_sendrecv_generic_node(bitwin24_t)
corenet_tcp_sendrecv_all_ports(bitwin24_t)
corenet_tcp_bind_generic_node(bitwin24_t)

gen_require(`
    type bitwin24_port_t;
')
allow bitwin24_t bitwin24_port_t:tcp_socket name_bind;

gen_require(`
    type bitwin24_port_t;
')
allow bitwin24_t bitwin24_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bitwin24_t)

files_read_etc_files(bitwin24_t)

miscfiles_read_localization(bitwin24_t)

sysnet_dns_name_resolve(bitwin24_t)

allow bitwin24_t bitwin24_exec_t:file execute_no_trans;
allow bitwin24_t self:process setsched;
corecmd_exec_ls(bitwin24_t)
corenet_tcp_connect_http_port(bitwin24_t)
dev_read_urand(bitwin24_t)
fs_getattr_xattr_fs(bitwin24_t)
kernel_read_system_state(bitwin24_t)
